#inputText {
	position: absolute;
	font-size: 14px;
	width: 320px;
	height: 320px;
	left: 1%;
	top: 1%;
}

#addNew {
	display: none;
	position: absolute;
	top: 340px;
	left: 10px;
}

#submit {
	position: absolute;
	top: 340px;
	left: 10px;
}

#saveCanvas {
	position: absolute;
	top: 340px;
	left: 100px;
}

#poetryCanvas {
	position: absolute;
	top: 1%;
	left: 1%;
}

#poems {
	position: absolute;
	right: 5%;
	top: 5%;
}

/*Canvas Color Select*/
.controls {
	display: none;
	min-height: 60px;
	margin: 0 auto;
	width: 600px;
	border-radius: 5px;
	overflow: hidden;
}

ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 20px;
	width: 100%;
	text-align: center;
}

.controls ul li{
	display: inline-block;
	margin: 0 5px 10px;
	height: 54px;
	width: 54px;
	border-radius: 60px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 3px 0 0 #222;
}

.black {
	background: #000;
}

.white {
	background: #fff;
}

.erase {
	
}
